data/genome/Homo_sapiens_assembly38.fasta
data/samples/NA12878_WES.zip
data/samples/SRR1518253_1.fastq
data/samples/SRR1518253_2.fastq
.nextflow.*
diles/nextflow_reports/*
work
.nextflow.log
.nextflow.log.1
.nextflow.log.2
.nextflow.log.3
.nextflow/
.samplesheet*